<nav class="navbar">
  <div class="logo-text">
    <h1 class="short-name">DM</h1>
    <h1 class="long-name">Deepak Maharjan</h1>
  </div>
  <div class="nav-list-container">
    <ul class="list-items">
      <li><a href="../index.html" class="nav-link">Home</a></li>
      <li><a href="../about-me.html" class="nav-link">About Me</a></li>
      <li><a href="#" class="nav-link">Services</a></li>
      <li class="dropdown">
        <a href="#" class="nav-link blogs"
          >Blog <i class="fa-solid fa-angle-down" style="padding-left: 5px"></i
        ></a>

        <ul class="dropdown-blogs">
          <li><a href="../blog.html" class="nsav-link">Blog</a></li>
          <li>
            <a href="../blog-details.html" class="nav-link">Blog Details</a>
          </li>
        </ul>
      </li>

      <li><a href="../contact-me.html" class="nav-link">Contact Me</a></li>
    </ul>
  </div>
  <button class="toogle-button">
    <i class="fa-solid fa-bars"></i>
  </button>
</nav>
